@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 1em;
}